.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 323px;
  position: relative;
}

.about-us__title {
  @include title;
  width: 280px;
  text-align: center;
  margin: 0;
  padding-left: 13px;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../img/aboutus.png");
    width: 265px;
    height: 181px;
    position: absolute;
    bottom: -428px;
    right: 9px;
  }

  &::before {
    content: "";
    width: 276px;
    height: 187px;
    border: 2px solid #b3beff;
    border-radius: 100px 0;
    position: absolute;
    bottom: -436px;
    right: 7px;
  }
}

.about-us__text {
  width: 280px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 10px;
  font-size: 19px;
  color: $blue;
  margin-bottom: 12px;
}

.about-us__link {
  line-height: 12.19px;
  font-weight: 600;
  font-size: 10px;
  color: $BlackBlue;
  border: 2px solid $BlackBlue;
  border-radius: 2px;
  padding: 6px 40px;
}


@media (min-width: $tablet-width) {
  .about-us__title {
    width: 728px;
    font-size: 46px;

    &::after {
      background-image: url("../../img/aboutustablet.png");
      width: 539px;
      height: 366px;
      right: 91px;
      bottom: -621px;
    }

    &::before {
      width: 564px;
      height: 382px;
      bottom: -639px;
      right: 89px;
    }
  }

  .about-us__text {
    text-align: center;
    font-size: 19px;
    line-height: 23px;
    width: 352px;
    margin-top: 12px;
    padding-left: 0;
    margin-bottom: 32px;
  }

  .about-us__link {
    margin: 0 auto;

    &:hover {
      color: $mainBackground;
      background-color: $BlackBlue;
      transition: all 0.3s;
    }
  }

  .about-us {
    margin-bottom: 573px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    align-items: flex-start;
    justify-content: center;
    width: 1010px;
    margin: 0 auto;
    margin-bottom: 235px;
    min-height: 620px;
  }

  .about-us__title {
    margin-top: 174px;
    padding-left: 0;

    &::after {
      background-image: url("../../img/aboutusdesktop.png");
      width: 602px;
      height: 409px;
      bottom: -256px;
      right: 0;
      left: 406px;
    }

    &::before {
      width: 625px;
      height: 431px;
      bottom: -281px;
      right: 0;
      left: 380px;
    }
  }

  .about-us__title,
  .about-us__text {
    text-align: left;
  }

  .about-us__link {
    margin-left: 0;
  }
}
