.best-works {
  width: 226px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 110px;
}

.best-works__title {
  @include title;
  text-align: center;
  -webkit-text-stroke: 1px $BlackBlue;
  color: #ffffff;
  transition: color 0.3s;

  &:hover {
    color: $BlackBlue;
    transition: color 0.3s;
  }
}

.best-works__item {
  height: 192px;
  width: 226px;
  margin: 0 auto;
  background-image: url("../../img/best-works.jpg");
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  background: $blue;
  opacity: 1;
}


.swiper-pagination-bullet-active {
  background: $BlackBlue;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .best-works__title {
    font-size: 46px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
    width: 300px;
    margin: 0 auto;
  }

  .best-works {
    width: 500px;
    margin-top: -27px;
  }

  .best-works__item {
    height: 250px;
    width: 500px;
    background-image: url("../../img/best-works-tablet.jpg");
  }
}
