.btn-switch-theme {
  display: none;
}

@media (min-width: $desktop-width) {
  .btn-switch-theme {
    display: block;
    position: fixed;
    width: 57px;
    height: 57px;
    background-color: $mainBackground;
    border: 1px solid #0e0e0e;
    right: 45px;
    bottom: 50px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;

    &::before {
      content: "";
      width: 33px;
      height: 33px;
      background-image: url("../../img/dark-theme.svg");
      position: absolute;
      top: 11px;
      left: 11px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
