.contact__title {
  @include title;
  position: relative;
}

.contact__title::after {
  content: "";
  width: 91px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $blue;
}

.form__label {
  font-size: 12px;
  line-height: 15px;
  color: $blue;
  font-weight: 600;
}

.form__wrapper input {
  border: 2px solid $blue;
  border-radius: 8px;

  &::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $blue;
  }
}

.form__button {
  border: 2px solid $blue;
  border-radius: 2px;
  color: $blue;
  background: none;
  padding: 6px 40px;
}
