.header__nav-button {
  border: none;
  padding: 0;
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: $BlackBlue;
  position: relative;
}

.header__nav-button::after {
  content: "";
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: $BlackBlue;
  position: absolute;
  top: 8px;
  left: 0;
}

.main-nav__list {
  @include list;
}

.main-nav__item {
  border-bottom: 1px solid $blue;
}

.main-nav__link {
  font-weight: 800;
  color: $blue;
  line-height: 31.8px;
  font-size: 20px;
}
