.header {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 213px;
  position: relative;
}

.header__wrapper {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 133px;
}

.logo {
  margin-right: 77px;
}

.header__nav-button {
  border: none;
  padding: 0;
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: $BlackBlue;
  position: relative;
  top: 10px;
}

.header__nav-button::after {
  content: "";
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: $BlackBlue;
  position: absolute;
  top: 8px;
  left: 0;
}



@media (min-width: $tablet-width) {
  .header__wrapper {
    width: 728px;
    margin-bottom: 214px;
  }

  .logo {
    margin: 0 auto;
    margin-left: 283px;
  }

  .header {
    margin-bottom: 375px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 60px;
    margin-bottom: 493px;
  }

  .header__wrapper {
    width: 1010px;
    margin-bottom: 197px;
    justify-content: flex-start;
  }

  .header__nav-button {
    display: none;
  }

  .logo {
    margin: 0;
    margin-right: 200px;
  }
}
