.our-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 217px;
  min-width: 0;
}

.our-works__title {
  @include title;
}


@media (min-width: $tablet-width) {
  .our-works {
    margin-bottom: 286px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 550px;
      background-color: $white;
      position: absolute;
      top: 170px;
    }
  }

  .our-works__title {
    font-size: 46px;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .our-works {
    margin-bottom: 146px;
  }

  .our-works__title {
    margin-top: 36px;
  }
}
