.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 115px;
}

.inner-portfolio .header {
  margin-bottom: 33px;
}

.portfolio__title {
  font-weight: 800;
  line-height: 56px;
  font-size: 36px;
  color: $BlackBlue;
  margin-bottom: 117px;
}

.portfolio__slider {
  width: 280px;
  margin-bottom: 162px;
}

.portfolio-block {
  width: 280px;
  height: 234px;
  position: relative;
  background-image: url("../../img/portfolio-work1.jpg");
  margin-bottom: 40px;
}

.portfolio-block__title {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: $BlackBlue;
  width: 93px;
  height: 102px;
  margin: 0;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  left: 93.5px;
}

.decorate-triangle {
  background-image: url("../../img/polygons.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 17px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .portfolio {
    margin-bottom: 187px;
  }

  .portfolio__slider {
    width: 728px;
  }

  .portfolio-block {
    width: 728px;
    height: 430px;
    background-image: url("../../img/portfolio-work1-tablet.jpg");
  }

  .portfolio-block__title {
    width: 244px;
    height: 166px;
    font-size: 40px;
    line-height: 48px;
    color: transparent;
    -webkit-text-stroke: 3px $mainBackground;
    transition: background-color 0.3s;
    left: 242px;

    &:hover {
      background-color: $blue;
      transition: background-color 0.3s;
    }

    &::before {
      width: 155px;
      height: 27px;
      top: -136px;
      left: 289px;
      background-image: url("../../img/polygons-tablet.svg");
    }
  }

  .inner-portfolio .header {
    margin-bottom: 0;
  }

  .portfolio__title {
    margin-top: 0;
    font-size: 46px;
    width: 728px;
    margin-bottom: 233px;
  }

  .decorate-triangle {
    background-image: url("../../img/polygons-tablet.svg");
    width: 158px;
    height: 35px;
  }
}

@media (min-width: $desktop-width) {
  .portfolio__slider {
    width: 1214px;
  }

  .portfolio-block {
    width: 1214px;
    height: 640px;
    background-image: url("../../img/portfolio-work1-desktop.jpg");
  }

  .portfolio__title {
    width: 1214px;
    margin-bottom: 155px;
  }


  .portfolio-block__title {
    width: 408px;
    height: 280px;
    line-height: 56px;
    left: 403px;

    &::before {
      width: 199px;
      height: 35px;
      top: -125px;
      left: 507px;
      background-image: url("../../img/polygons-desktop.svg");
    }
  }

  .decorate-triangle {
    background-image: url("../../img/polygons-desktop.svg");
    width: 200px;
    height: 35px;
  }
}
