.portfolio__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 56px;
  color: $BlackBlue;
}

.portfolio-block {
  width: 93.62px;
  height: 102.78px;
  background-color: $BlackBlue;
}

.portfolio-block__title {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
