.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 182px;
  background-color: $white;
}

.services__title {
  @include title;
  width: 260px;
  line-height: 52px;
  margin-bottom: 141px;
}

.services__list {
  @include list;
  width: 230px;
}

.services-item {
  width: 230px;
  height: 197px;
  background: linear-gradient(232.39deg, #54ffc1 0%, #c4fff1 100%);
  border-radius: 8px;
  box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.07);
  margin-bottom: 86px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    width: 67px;
    height: 66px;
    position: absolute;
    background-image: url("../../img/web-development.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 77px;
    top: 60px;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.services-item__title {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  top: 0;
  font-weight: 800;
  font-size: 26px;
  color: $mainBackground;
  text-align: center;
  margin: 0;
  top: 80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.services-item__link {
  display: block;
  width: 100%;
  height: 100%;
}

.services-item:hover {
  &::before {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.services-item:hover .services-item__title {
  opacity: 1;
  transition: opacity 0.3s;
}

.services-item:first-child::after {
  content: "";
  position: absolute;
  background-image: url("../../img/triangles/triangle-lime-ourservices.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  top: -50px;
  right: 30px;
  animation: swimmingTriangleAnimation 6s ease-in-out infinite;
}

.services-item:nth-child(2) {
  background: linear-gradient(232.39deg, #42ff00 0%, #c9ff85 100%);

  &::before {
    background-image: url("../../img/pencil.svg");
    width: 72px;
    height: 71px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/triangles/triangle-lime-ourservices2.svg");
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    left: -30px;
    top: -50px;
    animation: swimmingTriangleAnimation 6s ease-in-out infinite;
  }
}


.services-item:nth-child(3) {
  background: linear-gradient(232.39deg, #ff54b0 0%, #fa4751 100%);

  &::before {
    background-image: url("../../img/creativity.svg");
    width: 78px;
    height: 81px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/triangles/triangle-blue-ourservices.svg");
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    right: -30px;
    top: -50px;
    animation: swimmingTriangleAnimation 6s ease-in-out infinite;
  }
}

.services-item:nth-child(4) {
  background: linear-gradient(232.39deg, #ffb341 0%, #ff9e74 100%);

  &::before {
    background-image: url("../../img/promotion.svg");
    width: 78px;
    height: 76px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/triangles/triangle-pink-ourservices.svg");
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    left: -30px;
    top: -50px;
    animation: swimmingTriangleAnimation 6s ease-in-out infinite;
  }
}

.services-item:last-child {
  background: linear-gradient(232.39deg, #8e49ff 0%, #5b4fe3 100%);

  &::before {
    background-image: url("../../img/theme.svg");
    width: 67px;
    height: 66px;
  }
}

@media (min-width: $tablet-width) {
  .services__title {
    width: 708px;
    display: flex;
    justify-content: center;
    font-size: 46px;
    padding-right: 8px;
    margin-bottom: 157px;
  }

  .services__list {
    width: 545px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services {
    margin-bottom: 109px;
  }

  .services-item:first-child::after {
    top: 230px;
    right: 265px;
    width: 20px;
    height: 20px;
  }

  .services-item:nth-child(2)::after {
    left: -379px;
    top: -75px;
    transform: rotate(-27deg);
  }

  .services-item:nth-child(3)::after {
    right: -273px;
    top: -373px;
  }

  .services-item:nth-child(4)::after {
    left: 168px;
    top: 321px;
  }
}

@media (min-width: $desktop-width) {
  .services__title {
    width: 836px;
    padding-right: 0;
    padding-left: 12px;
    margin-top: 85px;
  }

  .services__list {
    width: 836px;
  }

  .services {
    margin-bottom: 100px;
  }

  .services-item:first-child::after {
    top: -63px;
    right: -660px;
  }

  .services-item:nth-child(2)::after {
    top: -73px;
    left: -301px;
  }

  .services-item:nth-child(3)::after {
    right: 455px;
    top: -117px;
  }

  .services-item:nth-child(4)::after {
    left: 370px;
    top: 102px;
  }
}
